<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <br>
    <br>
    <p>Edições para: <%= @user.email %></p>
    <%=f.label "Direitos de Acesso:" %>
    <%= f.select :bolsista, options_for_select([['Regular', false], ['Bolsista', true]]) %>
    
  </div>

  <div class="form-actions">
    <%= f.submit "Atualizar Usuário", class: "waves-effect waves-light btn-large purple darken-4" %>
  </div>
<% end %>
