<%= simple_form_for(@pessoa) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :sobrenome %>
    <%= f.input :estadoCivil, label: 'Estado Civil' %>
    <%= f.input :nacionalidade %>
    <%= f.input :endereco %>
    <%= f.input :genero %>
    <%= f.input :idade %>
    <%= f.input :profissao %>
    <%= f.input :beneficio %>
    <%= f.input :alfabetizado %>
    <%= f.input :numeroCarteiraDeTrabalho, label: 'Número da Carteira de Trabalho' %>
    <%= f.input :referenciaProcesso, label: 'Número do Processo Correspondente ' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
