<p id="notice"><%= notice %></p>

<h1>Pessoas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Estadocivil</th>
      <th>Nacionalidade</th>
      <th>Endereco</th>
      <th>Genero</th>
      <th>Idade</th>
      <th>Profissao</th>
      <th>Beneficio</th>
      <th>Alfabetizado</th>
      <th>Numerocarteiradetrabalho</th>
      <th>referenciaProcesso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoas.each do |pessoa| %>
      <tr>
        <td><%= pessoa.nome %></td>
        <td><%= pessoa.sobrenome %></td>
        <td><%= pessoa.estadoCivil %></td>
        <td><%= pessoa.nacionalidade %></td>
        <td><%= pessoa.endereco %></td>
        <td><%= pessoa.genero %></td>
        <td><%= pessoa.idade %></td>
        <td><%= pessoa.profissao %></td>
        <td><%= pessoa.beneficio %></td>
        <td><%= pessoa.alfabetizado %></td>
        <td><%= pessoa.numeroCarteiraDeTrabalho %></td>
        <td><%= pessoa.referenciaProcesso %></td>
        <td><%= link_to 'Show', pessoa %></td>
        <td><%= link_to 'Edit', edit_pessoa_path(pessoa) %></td>
        <td><%= link_to 'Destroy', pessoa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @processos%>
<br>

<%= link_to 'New Pessoa', new_pessoa_path %>
