<%= simple_form_for(@processo) do |f| %>
  <% if @processo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(processo.errors.count, "error") %> prohibited this processo from being saved:</h2>
      <ul>
        <% processo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :numeroProcesso, label: "Número do Processo", wrapper_html: { class: 'm6 s12' } %>
    <%= f.input :numeroCaixa, label: "Número de Caixa", wrapper_html: { class: 'm6 s12' } %>
    <%= f.input :dataInicio, label: "Data de Início", wrapper_html: { class: 'm6 s12' }%>
    <%= f.input :dataFim, label: "Data de Fim", wrapper_html: { class: 'm6 s12' } %>
    <%= f.input :demanda, label: "Descrição", wrapper_html: { class: 'm6 s12' } %>
    <%= f.label "Tipo de Ação" %>
    <%= f.select :tipoDeAcao, options_for_select([['Individual', 'Individual'], ['Plúrima', 'Plúrima']]) %>
    <%= f.input :juiz, label: "Juiz", wrapper_html: { class: 'm6 s12' } %>
    <%= f.input :vara, label: "Vara", wrapper_html: { class: 'm6 s12' } %>
    <%= f.input :arquivado, wrapper_html: { class: 'm6 s12'}%>
    <br>
    <%= f.label "Tipo de Demandantes" %>
    <%= f.select :tipoDeDemandantes, options_for_select([['Empregador', 'Empregador'], ['Empregado', 'Empregado']])%>

  <div class="field">
    <%= f.label "Conclusão" %>
    <%= f.select :conclusao, options_for_select([['Acordo', 'Acordo'], ['Procedente', 'Procedente'], ['Procedente Em Parte', 'Procedente Em Parte'], ['Improcedente', 'Improcedente'], ['Cancelado', 'Cancelado']]) %>
  </div>


    <%= f.submit "Submeter",class: "waves-effect waves-light btn-large deep-purple darken-3" %>
    <%= link_to 'Cancelar', processos_path, class: "waves-effect waves-light btn-large deep-purple darken-3" %>
<% end %>

